body {
    background-color: hsl(0, 0%, 100%);
    font-family: Wix Madefor text;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
footer {
    background-color:aliceblue;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}
h2 {
    margin: 0;
}
footer p {
    font-size: 1.2em;
}   
footer a{
    background-color:white;
    text-decoration: none;
    color:black
}
footer a:hover{
    background-color:#6f7364;
    text-decoration: underline;
    color:black
}
.logo, .icon {
    width: 50px;
  }
